.result_head {
    width: 100%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.result_head_img {
    width: 200px;
    height: 200px;
}

.result_head_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.result_head_text h3 {
    color: #444444;
    font-family: var(--fontProciono);
}

.result_main {
    width: 100%;
    padding: 4rem;
}

.result_main_title {
    margin-bottom: 1.5rem;
    font-family: var(--fontSriracha);
}

.result_item {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    gap: 30px;
}

.result_item .info_category {
    width: auto;
}

@media (max-width: 675px) {
    .result_main, .result_head {
        padding: 4rem 3rem;
    }
}

@media (max-width: 628px) {
    .result_item {
        grid-template-columns: repeat(2, 6fr);
    }
}

@media (max-width: 575px) {
    .result_main, .result_head {
        padding: 4rem 2rem;
    }
}

@media (max-width: 428px) {
    .result_head, .result_main {
        padding: 4rem 24px;
    }

    .result_item {
        grid-template-columns: auto;
    }
}