.category_main {
    width: 100%;
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    gap: 30px;
}

.category_main .info_category {
    width: auto;
}

@media (max-width: 675px) {
    .category_main {
        padding: 4rem 3rem;
    }
}

@media (max-width: 628px) {
    .category_main {
        grid-template-columns: repeat(2, 6fr);
    }
}

@media (max-width: 575px) {
    .category_main {
        padding: 4rem 2rem;
    }
}

@media (max-width: 428px) {
    .category_main {
        padding: 4rem 24px;
        grid-template-columns: auto;
    }
}