footer {
    width: 100%;
    background-color: var(--primaryColor);
    padding: 4rem 6rem;
    position: relative;
    overflow: hidden;
}

/* Foot main */
.foot_main {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    color:  var(--textSec);
    padding-bottom: 3rem;
    border-bottom: 1px solid #a7a7a7;
}

.foot_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.foot_list_head h3, .foot_form_head h3 {
    font-size: 14px;
}

.foot_links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.foot_links a {
    font-size: 12px;
    text-decoration: none;
    color: var(--textSec);
}

/* Foot form */
.foot_form {
    padding: 20px;
    background-color: var(--rectangleColor);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 450px;
    position: relative;
    z-index: 4;
}

.form {
    width: 100%;
}

.form .inp_ctrl {
    width: 100%;
    display: flex;
    height: 35px;
    border-radius: 5px;
    overflow: hidden;
}

.form .inp_ctrl input {
    height: 100%;
    width: 200px;
    background-color: var(--secondaryColor);
    padding: 8px;
    color: var(--textPri);
}

.form .inp_ctrl input::placeholder {
    color: rgba(0, 0, 0, 0.397);
}

#subscribe {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primaryColor);
    border: none;
    color: var(--textSec);
}

.foot_form_bottom {
    width: 290px;
    font-size: 12px;
}

/* foot bottom */
.foot_bottom {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 30px;
    color: var(--textSec);
    position: relative;
    z-index: 4;
}

.foot_copyright, .foot_tandp ul a {
    font-size: 12px;
}

.foot_tandp ul, .foot_socials ul {
    display: flex;
    gap: 10px;
    align-items: center;
    list-style: none;
}

.foot_tandp ul a, .foot_socials ul a {
    color: var(--textSec);
    text-decoration: none;
}

.foot_socials ul a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--textSec);
    font-size: 12px;
}

.img_rit {
    position: absolute;
    right: -6%;
    bottom: -2%;
    height: 250px;
    transform: rotate(40deg);
}

@media (max-width: 828px) {
    footer {
        padding: 4rem;
    }

    .img_rit {
        right: -10%;
        bottom: -2%;
    }
}

@media (max-width: 750px) {
    .foot_main {
        flex-direction: column;
        gap: 2rem;
    }
}

@media (max-width: 675px) {
    footer {
        padding: 4rem 3rem;
    }

    .img_rit {
        right: -18%;
    }
}

@media (max-width: 575px) {
    footer {
        padding: 4rem 2rem;
    }

    .foot_form {
        width: 100%;
    }

    .img_rit {
        right: -20%;
    }

    .foot_bottom {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

@media (max-width: 428px) {
    footer {
        padding: 4rem 24px;
    }

    .foot_form_bottom {
        width: 100%;
    }

    .img_rit {
        right: -21%;
    }
}